@page
@model BoodschappenInformatie.Pages.KassaBonnen.CalendarWeeksModel
@using BoodschappenInformatie.Helpers

@{
	ViewData["Title"] = "CalendarWeeks";
}

<h2>Calendar in weeks</h2>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Total</th>
			<th>Avg</th>
			@foreach (var column in Model.DateHeader)
			{
				<th>
					@column
				</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var description in Model.Descriptions)
		{
			<tr>
				<td>@description</td>
				<td>@Model.GetCalendarRowTotal(description)</td>
				<td>@Model.GetCalendarRowAverage(description)</td>
				@foreach (var column in Model.DateHeader)
				{
					<td>
						@Model.GetCalendarCell(description, column)
					</td>
				}

			</tr>
		}

		@*
			@foreach (var item in Model.KassaBonItem)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Hoeveelheid)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PrijsPerItem)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Prijs)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Korting)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Commentaar)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Boodschap.BoodschapName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.KassaBon.Id)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
						<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		*@
	</tbody>
</table>
