@page
@model BoodschappenInformatie.Pages.KassaBonnen.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h2>Kassabon details</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.KassaBon.Winkel)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBon.Winkel.WinkelName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBon.BonDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBon.BonDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBon.SubTotaal)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBon.SubTotaal)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBon.TotaalKorting)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBon.TotaalKorting)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBon.TotaalPrijs)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBon.TotaalPrijs)
			(Totaal van de items: @Html.DisplayFor(model => model.PageTotalPrijs))
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBon.Description)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBon.Description)
		</dd>
	</dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.KassaBon.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>

<hr />
<h3>Kassabon items</h3>

<p>
	<a href="./SubCreate?KassaBonId=@Model.KassaBon.Id">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.KassaBonItem[0].Hoeveelheid)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KassaBonItem[0].Boodschap)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KassaBonItem[0].PrijsPerItem)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KassaBonItem[0].Prijs)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KassaBonItem[0].Korting)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KassaBonItem[0].Commentaar)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.KassaBonItem)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Hoeveelheid)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Boodschap.BoodschapName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PrijsPerItem)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Prijs)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Korting)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Commentaar)
				</td>
				<td>
					<a asp-page="./SubEdit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./SubDetails" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./SubDelete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

