@page
@model BoodschappenInformatie.Pages.Banking.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit bank</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Bank.Id" />
			<input type="hidden" asp-for="Bank.Account" />
			<input type="hidden" asp-for="Bank.Date" />
			<input type="hidden" asp-for="Bank.Month" />
			<input type="hidden" asp-for="Bank.Mutation" />
			<input type="hidden" asp-for="Bank.Amount" />
			<input type="hidden" asp-for="Bank.Name" />
			<input type="hidden" asp-for="Bank.CounterAccount" />
			<input type="hidden" asp-for="Bank.Text" />
			<input type="hidden" asp-for="Bank.Origin" />
			<input type="hidden" asp-for="Bank.RawText" />
			<input type="hidden" asp-for="Bank.TallyName" />

			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor(model => model.Bank.Account)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.Account)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.Date)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.Date)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.Month)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.Month)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.Mutation)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.Mutation)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.Amount)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.Amount)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.Name)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.Name)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.CounterAccount)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.CounterAccount)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.Text)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.Text)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.Origin)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.Origin)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Bank.TallyName)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Bank.TallyName)
				</dd>
			</dl>
			<div class="form-group">
				<label asp-for="Bank.TallyDescription" class="control-label"></label>
				<input asp-for="Bank.TallyDescription" class="form-control" />
				@*
					<select asp-for="@Model.Bank.TallyDescription" asp-items="@Model.Tallies">
						<option value="@Model.Bank.TallyDescription">@Model.Bank.TallyDescription</option>
					</select>
				*@
				<span asp-validation-for="Bank.TallyDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
