@page
@model BoodschappenInformatie.Pages.AdminKetens.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.WinkelKeten[0].KetenName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.WinkelKeten)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.KetenName)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
