@page
@model BoodschappenInformatie.Pages.KassaBonnen.Items.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>KassaBonItem</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.KassaBonItem.BonDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBonItem.KassaBon.BonDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBonItem.Hoeveelheid)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBonItem.Hoeveelheid)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBonItem.Boodschap)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBonItem.Boodschap.BoodschapName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBonItem.PrijsPerItem)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBonItem.PrijsPerItem)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBonItem.Prijs)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBonItem.Prijs)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBonItem.Korting)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBonItem.Korting)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.KassaBonItem.Commentaar)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.KassaBonItem.Commentaar)
		</dd>
	</dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.KassaBonItem.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>
