@page
@model BoodschappenInformatie.Pages.AdminWinkels.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>Winkel</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Winkel.WinkelName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Winkel.WinkelName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Winkel.Address)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Winkel.Address)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Winkel.Postcode)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Winkel.Postcode)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Winkel.City)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Winkel.City)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Winkel.PhoneNumber)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Winkel.PhoneNumber)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Winkel.MailAddress)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Winkel.MailAddress)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Winkel.WinkelKeten)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Winkel.WinkelKeten.KetenName)
		</dd>
	</dl>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.Winkel.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>
